---
import Main from "~/components/Main.astro";
import Layout from "~/layouts/Layout.astro"
---

<Layout title="Not Found">
    <Main>
        <p class="pt-12 text-center text-2xl">Not sure what you are looking for, but it is not here!</p>
    </Main>
</Layout>