---
import Main from '~/components/Main.astro';
import Layout from '../layouts/Layout.astro';
import H1 from '~/components/H1.astro';
---

<Layout title="Welcome to Astro.">
	<Main>
		<H1>Rythm Nation Blog</H1>
		<p class="text-zinc-900 text-2xl mb-14 sm:mb-24 ">Join the Community and learn from Music Producers and Enthusiasts</p>
		<hr class="w-full border border-teal-900 mb-10 sm:mb-16 "/>
	</Main>
</Layout>


