---
import type { CollectionEntry } from "astro:content";
import Category from "./Category.astro";
type Props = {
  categories: CollectionEntry<"posts">["data"]["categories"];
  title?: string;
};
const { categories, title } = Astro.props as Props;
---
<div class="grid lg:grid-cols-[auto,1fr] gap-x-14 gap-y-3 mb-16">
  { title && <h2 class="font-bold text-5xl text-teal-900">{title}</h2>}
  <div class="flex gap-4 flex-wrap items-center">
    {categories.map((category) => <Category category={category} />)}
  </div>
</div>

