---
import Newsletter from "./Newsletter.astro";

---

<footer class="bg-green-950 text-center px-5 pb-3 pt-8 sm:pb-6 sm:pt-20">
    <Newsletter />
    <p class="text-zinc-300">Copyright 2023 • Rythm Nation</p>
</footer>