---
type Props = {
  prev?: string;
  next?: string;
};
const { prev, next }: Props = Astro.props;
---

{
  prev && (
    <a href={prev} class="bg-teal-900 text-white py-3 px-6 rounded-xl text-xl">
      Previous
    </a>
  )
}
{
  next && (
    <a href={next} class:list={[ "bg-teal-900 text-white py-3 px-6 rounded-xl text-xl",{ "ml-auto": !prev }]}>
      Next
    </a>
  )
}
